.title {
    font-size: 2vw;
    text-align: center;
    margin-bottom: 10vh;
}

h1, h2, h3, h4 {
    font-size: 2em;
    font-family: 'Space Mono', monospace;
}

.header {
    margin-bottom: 2.5vw;
    color: var(--relic);
}

.header p {
    font-size: 2em;
    font-weight: bold;
    color: var(--relic);
}

.back-arrow{
    padding-right: 15px;
}

.section {
    margin-bottom: 5vw;
    padding: 5vh;
    background: var(--div);
    border-radius: 15px;
}


.char-flex {
    justify-content: center;

}

.char-info {
    max-width: 800px;
}

.char-info h2 {
    font-size: 2vw;
    padding-bottom: 2vh;
}

.char-info-text {
    text-align: center;
}

.char-info-stats {
    justify-content: center;
    line-height: 4vh;
}
.char-info-stats > div {
    max-width: 500px;
    margin: 2vh 2vw 2vh 2vw;
}

.char-stats, .char-ratings {
    text-align: left;
}

.char-stats span{
    color: var(--critical);
    font-size: 2vh;
}

.char-img {
    align-items: center;
    width: auto;
}

.char-img img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    max-width: 430px;
    width: 100%;
    height: auto;
}

.char-skills {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 6vw;
}

.skills {
    display: flex;
    justify-content: center;
    width: 100%;
}

.char-skills img {
    max-width: 92px;
    width: 100%;
    height: auto;
    padding: 1vh 0 1vh 0;
}

.rogue {
    background: var(--rogue);
}

.warrior {
    background: var(--warrior);
}

.farmer {
    background: var(--farmer);
}

.ranger {
    background: var(--ranger);
}

.wizard {
    background: var(--wizard);
}
/*      EXTRA RESPONSIVENESS AND DESIGN     */
@media only screen and (max-width: 1080px) {
    .wrapper {
        max-width: 95vw;
    }

    .char-info-text h2  {
        font-size: 5vh;
    }

    .char-info-text p {
        font-size: 1em;
    }

    .char-stats, .char-ratings {
        font-size: 1em !important;
    }
    
    .char-stats span{
        font-size: 2vh;
    }

    .char-skills {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 70%;
    }

    .skills {
        max-width: 62px;
    }
    
    .char-pic{
        margin: 0 auto;
        text-align: center;
    }

    .shadowC {
        box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.55);
        -webkit-box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 10px 15px 2px rgba(0,0,0,0.55);
    }
}

/*      EXTRA RESPONSIVENESS AND DESIGN     */
@media only screen and (max-width: 620px) {
    .skills {
        max-width: 32px;
    }
}
