.container {
    max-height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    width: 60vw;
}
h1, h2, h3, h4 {
    font-size: 2rem;
}

.header {
    margin-bottom: 2.5vw;
}


p {
    font-size: 1rem;
}

.header p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--relic);
}

.back-arrow{
    padding-right: 15px;
}

.section {
    margin-bottom: 5vw;
}

.exclemation-mark {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-style: normal;
    color: var(--default-text);
}

span {
    font-style: italic;
    color: var(--relic);
}

.tooltip-number {
    color: var(--relic);
}

.talent-span {
    font-size: 1rem;
    line-height: 2rem;
    color: var(--default-text);
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 2vh;
}

.requirement {
    font-size: 1.2rem;
}

.list-title {
    margin-bottom: 1vh;
}
/* Font doesn't work well with list*/
p, li {
    line-height: 2em;
}


.command-header {
    margin-bottom:2vh;
    margin-top: 5vh;
}

.command-text {
    margin-top: 1rem;
}

.cmd-list {
    margin-top: 1rem;
}

.tooltipC {
    border: 1px solid red;
    margin-left: 6rem;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip-wrapper .tooltipC {
    visibility: hidden;
    padding: 5px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-wrapper .tooltipC:after {
    content: "";
    position: absolute;
}

.tooltip-wrapper:hover .tooltipC {
    visibility: visible;
    opacity: 1;
}

.gold-corn {
    margin-top: 2vw;
}

/*      EXTRA RESPONSIVENESS AND DESIGN     */
@media only screen and (max-width: 740px) {

    .wrapper {
        width: 100vw;
    }
    .command-header {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .tooltip-wrapper span{
        font-size: 0.8rem;
    }

    .list-title {
        font-size: 1.2rem;
    }
}
