.header {
    margin-bottom: 2.5vw;
}

.header p {
    font-size: 2em;
    font-weight: bold;
    color: var(--relic);
}

.back-arrow{
    padding-right: 15px;
}

.section {
    margin-bottom: 5vw;
}

span {
    font-style: italic;
    color: var(--relic);
}

/* Font doesn't work well with list*/
p, li {
    line-height: 2em;
}


.command-header {
    margin-bottom: 1rem;
}

.command-text {
    margin-top: 1rem;
}

.cmd-list {
    margin-top: 1rem;
}

.tooltipC {
    border: 1px solid red;
    margin-left: 6rem;
}

.tooltip-wrapper {
    position: relative;
}

.tooltip-wrapper .tooltipC {
    visibility: hidden;
    padding: 5px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-wrapper .tooltipC:after {
    content: "";
    position: absolute;
}

.tooltip-wrapper:hover .tooltipC {
    visibility: visible;
    opacity: 1;
}

.gold-corn {
    margin-top: 2vw;
}