.header {
    margin-bottom: 2.5vw;
}

.header p {
    font-size: 2em;
    font-weight: bold;
    color: var(--relic);
}

.back-arrow{
    padding-right: 15px;
}

.section {
    margin-bottom: 5vw;
}

span {
    font-style: italic;
    color: var(--relic);
}

p, li {
    line-height: 2em;
}

.command-header {
    margin-bottom: 1rem;
}

.command-text {
    margin-top: 1rem;
}