.container {
    max-height: 100vh;
    overflow-x: hidden;
}

.wrapper {
    width: 60vw;
}

.title {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 10vh;
}

.building-wrapper {
    margin: 0 auto;
    width: 90vw;
}

p {
    line-height: 1.5rem;
}
.building-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex: 1 1 500px;
    margin: 10px;
    border: 1px solid var(--dark2);
    background: var(--dark);
    padding: 2rem;
}

.box h2 {
    text-align: center;
    margin: 1vh 0 1vh 0;
}